---
import ArticleDetail from "@/components/article/ArticleDetail.astro";
import Container from "@/components/layout/Container.astro";
import Layout from "@/components/layout/Layout.astro";
import Badge from "@/components/ui/Badge.astro";
import { getAllEvents, getAllPosts, getEventBySlug } from "@/lib/wordpress";
import { getPostBySlug } from "@/lib/wordpress";

// Astro component skeleton

export async function getStaticPaths() {
  const events = await getAllEvents(); // Récupère tous les articles
  return events.map((post) => ({
    params: { slug: post.slug }, // Définit les slugs pour les routes dynamiques
  }));
}

const { slug } = Astro.params; // Récupère le slug depuis l'URL
const post = await getEventBySlug(slug ?? "");

if (!post) {
  throw new Error(`Article non trouvé pour le slug : ${slug}`);
}

const { date, title, image } = post;
---

<Layout title={title} description={""}>
  <Container class="bg-primary-foreground">
    <div class="content">
      <div class="w-full">
        <div class="w-full pt-1 pb-1">
          <h1
            class="text-[64px] font-[800] font-bold text-secondary leading-none"
          >
            {title}
          </h1>
          <div class="w-full flex flex-row justify-between">
            <p class="text-[12px] font-[700] text-primary-foreground mt-1">
              Actualités
            </p>
            <p class="text-[12px] font-[700] text-primary-foreground mt-1">
              {date}
            </p>
          </div>
        </div>
        <div class="relative">
          <img
            src={image}
            alt="cover"
            class="w-full h-[480px] object-cover rounded-xl"
          />
        </div>
      </div>
    </div>
  </Container>
  <Container>
    <div class="content container">
      <div class="mx-auto flex items-center justify-between mt-4">
        <ArticleDetail article={post} />
      </div>
    </div>
  </Container>
  <style>
    .content {
      max-width: 1002px;
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</Layout>
