---
import type { Article } from "@/types";
import Button from "../ui/Button.astro";
import { getAllNews } from "@/lib/wordpress";
import Badge from "../ui/Badge.astro";
import BadgeCorner from "../ui/BadgeCorner.astro";
import { Input } from "../ui/input";

// src/components/home/News.astro

interface Event {
  date: string;
  title: string;
}

const upcomingEvents: Event[] = [
  {
    date: "01/01/2025",
    title: "Titre d'évènement sur plusieurs lignes",
  },
  {
    date: "01/01/2025",
    title: "Titre d'évènement sur plusieurs lignes",
  },
  {
    date: "01/01/2025",
    title: "Titre d'évènement sur plusieurs lignes",
  },
];

const articles = await getAllNews(6);

const featuredArticle: Article = articles[0];
---

<section id="news-section" class="py-16">
  <div class="">
    <!-- Onglets de navigation -->
    <div class="flex gap-3 mb-8 flex-wrap">
      <Button> Toutes </Button>
      <Button variant="outlined"> Actualités </Button>
      <Button variant="outlined"> Dossiers </Button>
      <div
        class="border-b-1 border-b-primary flex flex-row items-center flex-1"
      >
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.44454 9.63912L4.75 7.33367M4.75 7.33367C5.24765 7.83132 5.93515 8.13912 6.69454 8.13912C8.21333 8.13912 9.44454 6.90791 9.44454 5.38912C9.44454 3.87034 8.21333 2.63912 6.69454 2.63912C5.17576 2.63912 3.94454 3.87034 3.94454 5.38912C3.94454 6.14852 4.25235 6.83602 4.75 7.33367Z"
            stroke="#1D1D1D"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>

        <Input placeholder="Recherche sur le site..." />
      </div>
      <Button variant="contained" color="secondary"> Valider </Button>
    </div>

    <div
      class="w-full grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 gap-6 mt-6 max-h-[378px]"
    >
      <div
        class="col-span-1 sm:col-span-1 xl:col-span-3 lg:col-span-2 md:col-span-2 relative max-h-[378px]"
      >
        <article
          style={`background-image: url(${featuredArticle.image});`}
          class={`flex flex-row justify-between relative w-full lg:h-full md:h-full h-[378px] bg-cover bg-repeat relative rounded-2xl overflow-hidden`}
        >
          <!-- Badge -->
          {
            featuredArticle.badge && (
              <Badge
                class="absolute top-4 left-4 z-10 bg-white border-white"
                variant="outlined"
              >
                {featuredArticle.badge}
              </Badge>
            )
          }

          <div
            class="w-full flex flex-row justify-end p-4 lg:items-stretch md:items-end items-end"
          >
            <div class="relative">
              <BadgeCorner
                orientation="vertical"
                position="right"
                class="lg:visible md:invisible invisible">Dossier</BadgeCorner
              >
              <BadgeCorner
                orientation="horizontal"
                position="left"
                class="lg:invisible md:visible visible">Dossier</BadgeCorner
              >
              <div
                class="z-10 rounded-2xl relative flex flex-col justify-between lg:h-full md:h-fit h-fit lg:aspect-[1.3/1] md:aspect-auto aspect-auto bg-card-foreground text-primary-foreground p-3 flex flex-col justify-between"
              >
                <!-- Métadonnées -->
                <div
                  class="w-full flex flex-row justify-between gap-4 text-[12px] font-[300] mb-4"
                >
                  <span>{featuredArticle.date}</span>
                  <span>{featuredArticle.readTime}</span>
                </div>
                <div class="flex-1 pt-3">
                  <!-- Catégorie -->
                  <p class="text-[12px] font-[300] mb-2">
                    {featuredArticle.category}
                  </p>

                  <!-- Titre -->
                  <h2
                    class="text-[28px] md:text-3xl text-white font-bold mb-4 leading-none line-clamp-1 md:line-clamp-2 lg:line-clamp-3"
                  >
                    {featuredArticle.title}
                  </h2>

                  <!-- Excerpt -->
                  <p
                    class="text-[12px] font-[300] line-clamp-2 md:line-clamp-3 lg:line-clamp-5"
                  >
                    {featuredArticle.excerpt}
                  </p>
                  <!-- Lien -->
                  <a
                    href={featuredArticle.link}
                    class="inline-flex items-center gap-2 text-primary hover:text-white stroke-primary hover:stroke-white transition-colors font-semibold text-sm group"
                  >
                    Lire plus
                    <svg
                      width="19"
                      height="19"
                      viewBox="0 0 19 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.74997 6.50003L8.25003 6.50003M8.25003 6.50003L8.25006 11.0001M8.25003 6.50003L2.25 12.5"
                        stroke="current"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

      <!-- Colonne droite : Événements à venir (1/3) -->
      <div
        class="bg-primary text-secondary rounded-2xl px-4 py-6 shadow-lg w-fit"
      >
        <h2 class="text-2xl font-bold lg:mb-8 md:mb-1 mb-[2px] leading-none">
          Évènements à venir
        </h2>

        <div class="space-y-4 lg:mb-8 md:mb-1 mb-[2px]">
          {
            upcomingEvents.map((event) => (
              <div class="flex flex-row justify-center items-center lg:gap-x-3 lg:gap-y-3 lg:pb-3 md:gap-x-2 md:gap-y-2 md:pb-2 gap-x-[5px] gap-y-[5px] pb-[5px] border-b-1 border-[#DF877E]">
                <Badge
                  variant="outlined"
                  color="secondary"
                  class="border-white text-white h-fit"
                >
                  {event.date}
                </Badge>
                <div class="flex-1">
                  <h3 class="font-[900] text-[16px] leading-[16px]">
                    {event.title}
                  </h3>
                </div>
              </div>
            ))
          }
        </div>

        <a
          href="/events"
          class="w-full flex flex-row justify-end items-center gap-2 text-white hover:text-gray-200 transition-colors font-semibold text-sm group"
        >
          Voir plus
          <svg
            class="w-4 h-4 group-hover:translate-x-1 transition-transform"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>

    <!-- Grille d'articles (4 articles) -->
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-3 gap-6 mt-6"
    >
      {
        articles.map((article) => (
          <article
            style={`background-image: url("${article.image}");`}
            class="rounded-xl relative bg-cover bg-repeat h-[378px] w-full p-3 flex flex-col items-end justify-end"
          >
            <div class="relative">
              {/* Badge */}
              {article.badge && (
                <BadgeCorner orientation="horizontal" position="left">
                  {article.badge}
                </BadgeCorner>
              )}
              <div class="relative z-10 bg-white p-1 px-3 rounded-xl">
                <div class="w-full flex flex-row justify-between gap-4 text-[12px] font-[300] mb-2">
                  <span>{article.date}</span>
                  <span>{article.readTime}</span>
                </div>
                <div class="flex-1 pt-3">
                  <p class="text-[12px] font-[300] mb-1">{article.category}</p>

                  <h2 class="text-[22px] md:[22px] text-black font-[900] mb-2 leading-none line-clamp-1">
                    {article.title}
                  </h2>

                  <p class="text-[12px] font-[300] line-clamp-2">
                    {article.excerpt}
                  </p>
                  <a
                    href={article.link}
                    class="inline-flex items-center gap-2 text-primary hover:text-white stroke-primary hover:stroke-white transition-colors font-semibold text-sm group"
                  >
                    Lire plus
                    <svg
                      width="19"
                      height="19"
                      viewBox="0 0 19 19"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.74997 6.50003L8.25003 6.50003M8.25003 6.50003L8.25006 11.0001M8.25003 6.50003L2.25 12.5"
                        stroke="current"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </article>
        ))
      }
    </div>

    <!-- Bouton Voir plus -->
    <div class="text-center mt-8">
      <a href="/blog">
        <Button variant="contained" color="secondary" class="bg-card-foreground"
          >Voir plus</Button
        >
      </a>
    </div>
  </div>
</section>

<style>
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
